*.dll binary
*.exe binary
*.pdb binary
*.jar binary
*.bin binary
*.pcap binary
*.pcapng binary
*.json text eol=lf
*.js text eol=lf
*.cs text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
